<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6">
            <table class="table table-striped">
                <thead>
                    <tr class="body-text">
                        <th class="d-md-table-cell text-center fs-6">Jour</th>
                        <th class="text-center fs-6">Ouverture Matin</th>
                        <th class="text-center fs-6">Fermeture Matin</th>
                        <th class="text-center fs-6">Ouverture Après-midi</th>
                        <th class="text-center fs-6">Fermeture Après-midi</th>
                    </tr>
                </thead>
                <tbody>
                    {% for openingHour in openingHours %}
                        <tr class="body-text">
                            <td>{{ openingHour.day }}</td>
                            <td class="{{ openingHour.openTimeAm.format('H:i') == '00:00'? 'bg-danger fw-bold' : '' }}">{{ openingHour.openTimeAm.format('H:i') == '00:00'? 'FERMÉ' : openingHour.openTimeAm.format('H:i') }}</td>
                            <td class="{{ openingHour.closeTimeAm.format('H:i') == '00:00'? 'bg-danger fw-bold' : '' }}">{{ openingHour.closeTimeAm.format('H:i') == '00:00'? 'FERMÉ' : openingHour.closeTimeAm.format('H:i') }}</td>
                            <td class="{{ openingHour.openTimePm.format('H:i') == '00:00'? 'bg-danger fw-bold' : '' }}">{{ openingHour.openTimePm.format('H:i') == '00:00'? 'FERMÉ' : openingHour.openTimePm.format('H:i') }}</td>
                            <td class="{{ openingHour.closeTimePm.format('H:i') == '00:00'? 'bg-danger fw-bold' : '' }}">{{ openingHour.closeTimePm.format('H:i') == '00:00'? 'FERMÉ' : openingHour.closeTimePm.format('H:i') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
