<h1>Voici nos véhicules à la vente</h1>
{{ form_start(form) }}
<div class="container">
<div class="row">
<div class="col-md-4">
    {{ form_row(form.minPrice) }}
    {{ form_row(form.maxPrice) }}
</div>

<div class="col-md-4">
    {{ form_row(form.minYear) }}
    {{ form_row(form.maxYear) }}
</div>

<div class="col-md-4">
    {{ form_row(form.minKm) }}
    {{ form_row(form.maxKm) }}
</div>
</div>
<button type="submit">Filtrer</button>
<button type="reset">Réinitialiser</button>
</div>
{{ form_end(form) }}
