{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <h1 class="headline-text">Contactez-nous</h1>
<div class="form-container">
    {{ form_start(form) }}
        {{ form_row(form.subject) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.phone) }}
        {{ form_row(form.message) }}
        {{ form_row(form.carId) }}
        <button type="submit" class="button">Envoyer</button>
    {{ form_end(form) }}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endblock %}
